<h1>Contact details</h1>
<div class="p-grid" *ngIf='contact'>
    <div class="p-col-12 p-md-9">

      <p-card>
          <p-header>
              <img  ngxGravatar [email]='contact.email' size="65">
              {{contact.first_name}} {{contact.last_name}}
          </p-header>
          {{contact.phone_country}} {{contact.phone_number}}
          {{contact.email}}
          <p-footer *ngIf='contact.organization' routerLink='organization/{{contact.organization.id}}'>
              {{contact.organization.name}}
          </p-footer>
      </p-card>

    </div>

  <div class="p-col-12 p-md-3">
    <p-accordion>
        <p-accordionTab header="Delete Contact">
          <button pButton type="button" class="ui-button-danger" label="Delete contact" (click)="openDeleteConfirm()" ></button>
        </p-accordionTab>
    </p-accordion>
  </div>
</div>


<p-dialog header="Delete contact?" [(visible)]="display_delete_contact">
  <p-header>
    Confirm deletion of contact?
  </p-header>
  This can't be undone
  <p-footer>
      <button pButton type="button" label="Abort" (click)="this.display_delete_contact=false" ></button>
      <button pButton type="button" class="ui-button-danger" label="Confirm Deletion" (click)="deleteContact()" ></button>
  </p-footer>
</p-dialog>
