<form (ngSubmit)="onLogin()">
  <div class="p-grid p-dir-col">
      <div class="p-col-3 ui-fluid p-col-align-center">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text"  [(ngModel)]="email" pInputText placeholder="Email" name="email">
        </div>
      </div>
      <div class="p-col-3 ui-fluid p-col-align-center">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input type="password" pInputText [(ngModel)]="password" name="password">
        </div>
      </div>
      <div class="p-col-3 p-col-align-center ui-fluid">
          <button pButton type="submit" label="Login" class="ui-button-rounded"></button>
          <!-- <button pButton type="button" label="Login" class="ui-button-rounded"></button> -->
      </div>
  </div>
</form>
